$background:#DFDBE5;
$quote-box-background: rgba(255,255,255,0.4);
$quote-box-shadow: rgba(0,0,0,0.2);
$button-text-color:#fff;
$button-background:rgb(0, 0, 0);
$button-box-shadow:rgba(121,121,121,0.65);
$twitter-color:#38a1f3;