@use "../variables.scss" as *;

%centered-flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color:black;
}
.quote-container {
    width:auto;
    max-width: 90rem;
    padding:2rem 3rem;
    border-radius: 1rem;
    background-color: $quote-box-background;
    box-shadow: 0 1rem 1rem 1rem $quote-box-shadow;
    .quote-text {
        font-size: 4.4rem;
        .fa-quote-left {
            font-size: 6.4rem;
        }
        // #quote {}
        .fa-up-right-from-square {
            font-size: 2rem;
            margin-left: 2rem;
            &:hover {
                cursor: pointer;
                transform: translateY(-0.3rem);
            }
            transition: all 0.3s;
        }
    }
    .quote-author {
        @extend %centered-flex-box;
        margin-top: 15px;
        font: {
            size:3.2rem;
            weight:400;
            style:italic;
        }
        .fa-address-card {
            margin-left:2rem;
            &:hover {
                cursor: pointer;
                transform: translateY(-0.3rem);
            }
            transition: all 0.3s;
        }
    }
    .button-container {
        margin-top:1.5rem;
        display: flex;
        justify-content: space-between; // horizontally
        align-items: center; // vertically
        button {
            cursor:pointer;
            font-size: 1.92rem;
            height:4rem;
            border:none;
            border-radius: 1rem;
            color: $button-text-color;
            background-color:$button-background;
            outline:none;
            padding:2rem 2.5rem;
            box-shadow: 0 0.3rem $button-box-shadow;
            @extend %centered-flex-box;
            &:hover {
                filter :brightness(110%);
            }
            &:active {
                transform: translate(0,0.4rem);
                box-shadow: 0 0.5rem rgba(255,255,255,0.65);
            }
            transition: transform 0.3s;
        }
        .twitter-button {
            padding: 1rem;
            width: justify;
            height: justify;
            .fa-twitter {
                font-size: 3rem;
                &:hover {
                    color:$twitter-color;
                }
            }
        }
    }
}

.long-quote {
    font-size: 3.2rem;
}

@keyframes spin {
    0% {
        transform:translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform:translate(-50%,-50%) rotate(360deg);
    }
}
.loader {
    background-color: transparent;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;

    position:absolute;
    left:50%;
    top:50%;
    // transform: translateX(-50%);
    // transform: translateY(-50%);
    border:1.6rem solid grey;
    border-top-color:$twitter-color;
    animation: spin 1.5s linear infinite;
}